<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1096174460927-j8ooho90shve2gn4e6ul7d1i5n9gtuvi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1096174460927-j8ooho90shve2gn4e6ul7d1i5n9gtuvi</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1096174460927-3rf0rag272le3g70smmfbvk9rugtc5u8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBakM7Fs-rB8ryy3FjSSgMw3TW8KRMIeOc</string>
	<key>GCM_SENDER_ID</key>
	<string>1096174460927</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.opclollc.opclo</string>
	<key>PROJECT_ID</key>
	<string>opclo-d01dd</string>
	<key>STORAGE_BUCKET</key>
	<string>opclo-d01dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1096174460927:ios:4525645161221d57d051ca</string>
</dict>
</plist>